{% extends "chat/base.html" %}
{% block content %}
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="mb-0">Users</h5>
                </div>
                <div class="list-group list-group-flush">
                    {% for user in users %}
                        <a href="{% url 'chat-room' user.username %}" class="list-group-item list-group-item-action">
                            {{ user.username }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body text-center">
                    <h5 class="card-title">Welcome to Django Chat</h5>
                    <p class="card-text">Select a user from the list to start chatting!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
